.cuerpo {
  float: right;
  width: 500px;
  margin-right: 200px;
}

.imagen {
  float: left;
}

* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.button {
  background-color: white;
  color: grey;
  text-decoration: none;
  font-size: x-large;
}

.listados {
  float: right;
}
.listauno {
  float: left;
}
.foot {
  margin-top: 100px;
}

input {
  width: 100%;
}
